
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-family: 'Noto Serif', serif;
    --main-color: #282828;
    --border-movies-list-img-color:#464646;
    /*--films-color: #879D9D; */
    /*--films-color: #366B6B; */
    --films-color: #FFFFFF;
}

body {
    max-width: 980;
    margin: auto;
}

/*
header{
    color: #3F3F3F;
}
*/

#home {
    color: var(--main-color);
}

.logo {
    font-family: 'Noto Serif', serif;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;
}

.banner h1 {
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    text-transform: uppercase;
    color: var(--films-color);
    text-align: center;
}

header .menu {
    list-style-type: none;    
}

header .menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 3px;
}

header .menu a:hover{
    font-weight: bold;
}



@media (min-width: 610px) {

    header nav{
        display:flex;
    }

    header .menu{
        display: flex;
        justify-content: space-around;
        flex: 1;
        align-items: center;
    }

}

header .banner{
    background-image: url(../img/background-films.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: #FFFFFF; 
    /*color: #366B6B; */
    text-align: center;
    transition: color 0.7s;
    background-color: transparent;
}

.button:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

.card-button {
    border-color: black;
    color: black;
}

.card-button:hover {
    background-color: black;
    color: white;
}

@media (min-width: 640px){

    .movies-list{
        
    }
}

/*
header#home nav .menu a {
    color: #3F3F3F;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
}
*/
/*
.movies-list article img{
    border: 1px solid var(--border-movies-list-img-color);
    padding: 1px;
    margin: 5px;
}



.movies-list {
    font-size: 16px;
}

footer{
    color: var(--main-color);
}
*/